{% extends 'base.html' %}

{% block content %}

<section class="row">
    <div class="col-12 col-md-6">
        <img src="../../static/images/undraw_drone_surveillance_kjjg.svg" alt="Drone Image" id="Drone-image">
    </div>
    <div class="col-12 col-md-6">
        <h4>Talk and Theorize with other Marvel Fans</h4>
        <p>Talk with other fans around the world. Join our Slack channel
        </p>
        <div>
            <button class="btn btn-primary">Join Our Slack Channel</button>
        </div>
    </div>
</section>

        <!-- Header Image -->
       
    <!-- End of Community Section -->

    <!-- Start of Footer -->
    <footer class="row" id="footer">
     <div class="col-2 col-md-2">
        <img src="../../static/images/Coding Drones Logo.png" alt="footer logo" id="footer-logo">
     </div>   
    <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Coding Drones?</p>
            <p>The Coding Drones Project</p>
            <p>Donate</p>
            <p>Spread the Word</p>
            <p>Our Process</p>
        </div>
    </div>
    <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Coding Drones?</p>
            <p>The Coding Drones Project</p>
            <p>Donate</p>
            <p>Spread the Word</p>
            <p>Our Process</p>
        </div>
    </div>
    <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Coding Drones?</p>
            <p>The Coding Drones Project</p>
            <p>Donate</p>
            <p>Spread the Word</p>
            <p>Our Process</p>
        </div>
    </div>
    <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Coding Drones?</p>
            <p>The Coding Drones Project</p>
            <p>Donate</p>
            <p>Spread the Word</p>
            <p>Our Process</p>
        </div>
    </div>
    <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Coding Drones?</p>
            <p>The Coding Drones Project</p>
            <p>Donate</p>
            <p>Spread the Word</p>
            <p>Our Process</p>
        </div>
    </div>  
    
</footer>




</div>

{% endblock content %}